In [1]:
import pandas as pd
import numpy as np

In [3]:
## Read Delaney Data into dataframe
df_delaney = pd.read_csv("ci034243xsi20040112_053635.txt")

In [4]:
df_delaney

,Compound ID,measured log(solubility:mol/L),ESOL predicted log(solubility:mol/L),SMILES
0,"1,1,1,2-Tetrachloroethane",-2.180,-2.794,ClCC(Cl)(Cl)Cl
1,"1,1,1-Trichloroethane",-2.000,-2.232,CC(Cl)(Cl)Cl
2,"1,1,2,2-Tetrachloroethane",-1.740,-2.549,ClC(Cl)C(Cl)Cl
3,"1,1,2-Trichloroethane",-1.480,-1.961,ClCC(Cl)Cl
4,"1,1,2-Trichlorotrifluoroethane",-3.040,-3.077,FC(F)(Cl)C(F)(Cl)Cl
...,...,...,...,...
1139,vamidothion,1.144,-1.446,CNC(=O)C(C)SCCSP(=O)(OC)(OC)
1140,Vinclozolin,-4.925,-4.377,CC1(OC(=O)N(C1=O)c2cc(Cl)cc(Cl)c2)C=C
1141,Warfarin,-3.893,-3.913,CC(=O)CC(c1ccccc1)c3c(O)c2ccccc2oc3=O
1142,Xipamide,-3.790,-3.642,Cc1cccc(C)c1NC(=O)c2cc(c(Cl)cc2O)S(N)(=O)=O
1143,XMC,-2.581,-2.688,CNC(=O)Oc1cc(C)cc(C)c1

In [79]:
df_delaney.loc[df_delaney['measured log(solubility:mol/L)'] == -6.98]

,Compound ID,measured log(solubility:mol/L),ESOL predicted log(solubility:mol/L),SMILES
13,"1,2,4,5-Tetrabromobenzene",-6.98,-6.001,Brc1cc(Br)c(Br)cc1Br

In [88]:
## Save to csv
# df_delaney.to_csv("data_delaney.csv", index = False)

In [6]:
## Read Sol Data into dataframe
df_sol = pd.read_excel("soldataswap.xls")

In [89]:
# df_sol.to_csv('data_sol.csv', index = False)

In [8]:
df_sol.columns

Index(['Substance', 'Temperature', 'assays', 'Ionic Strength (M)', 'S0 (mM)',
       'SD of S0 (mM)', 'Kinetic Solubility (mM)',
       'SD of Kinetic Solubility (mM)', 'Unnamed: 8', 'Unnamed: 9', 'SMILES',
       'InChI'],
      dtype='object')

In [71]:
## Read Wang Data into dataframes and combine data
dfw1 = pd.read_excel("ci800406y_si_001.xls")
dfw2 = pd.read_excel("ci800406y_si_002.xls")
dfw3 = pd.read_excel("ci800406y_si_003.xls")
dfw4 = pd.read_excel("ci800406y_si_004.xls")
dfw5 = pd.read_excel("ci800406y_si_005.xls")

In [17]:
dfw1

,Table S1. List of the experimental and predicted aqueous solubilities by the four models for Data Set 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,ASM-ATC-LOGP,ASM-ATC-LOGP,ASM-ATC,ASM-ATC,ASM-SAS-LOGP,ASM-SAS-LOGP,ASM-SAS,ASM-SAS,NaN,NaN,NaN
1,No,Expt.,ClogP,Polarizability,Predicted,Residual,Predicted,Residual,Predicted,Residual,Predicted,Residual,Data Source ID,Name,SLN
2,1,-4.35,4.22,133.981,-3.7955,-0.5545,-3.7035,-0.6465,-3.7627,-0.5873,-3.6569,-0.6931,1,1-bromonapthtalene,BrC[2]C[3]=C(CH=CHCH=@2)CH=CHCH=CH@3
3,2,-3.33,2.95,130.274,-3.9317,0.6017,-3.8706,0.5406,-3.8441,0.5141,-3.8367,0.5067,1,bromoxynil,BrC[2]=C(C(=CHC(=CH@2)C#N)Br)OH
4,3,-6.98,5,154.335,-5.395,-1.585,-5.5377,-1.4423,-5.3131,-1.6669,-5.4287,-1.5513,2,"1,2,4,5-tetrabromobenzene",BrC[2]=C(CH=C(C(=CH@2)Br)Br)Br
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,Data Source IDs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1711,1,Huuskonen data set,NaN,Ref 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1712,2,Delaney data set,NaN,Ref 14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1713,3,Hou data set,NaN,Ref 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1714,4,personal correspondence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
## Clean up headers
df_list = [dfw1, dfw2, dfw3, dfw4, dfw5]
for df in df_list:
    df.columns = df.iloc[1]
    df.drop(df.index[:2], inplace=True)

In [73]:
## Drop nulls
for df in df_list:
    df.dropna(inplace = True)

In [74]:
## Reindex
for i in range(len(df_list)):
    df_list[i] = df_list[i].reset_index(drop=True)

In [80]:
## Drop samples from delaney dataset
dfw1 = dfw1[dfw1['Data Source ID'] != 2]

In [87]:
dfw1

1,No,Expt.,ClogP,Polarizability,Predicted,Residual,Predicted,Residual,Predicted,Residual,Predicted,Residual,Data Source ID,Name,SLN
2,1,-4.35,4.22,133.981,-3.7955,-0.5545,-3.7035,-0.6465,-3.7627,-0.5873,-3.6569,-0.6931,1,1-bromonapthtalene,BrC[2]C[3]=C(CH=CHCH=@2)CH=CHCH=CH@3
3,2,-3.33,2.95,130.274,-3.9317,0.6017,-3.8706,0.5406,-3.8441,0.5141,-3.8367,0.5067,1,bromoxynil,BrC[2]=C(C(=CHC(=CH@2)C#N)Br)OH
5,4,-6.09,5.07,193.29,-5.6505,-0.4395,-5.5381,-0.5519,-5.8007,-0.2893,-5.6957,-0.3943,1,bromophos,BrC[2]=C(CH=C(C(=CH@2)Cl)OP(=S)(OCH3)OCH3)Cl
7,6,-4.5,4.38,133.603,-4.4934,-0.0066,-4.5629,0.0629,-4.4546,-0.0454,-4.533,0.033,1,"1,2,4-tribromobenzene",BrC[2]=C(CH=CHC(=CH@2)Br)Br
8,7,-5.04,4.22,133.603,-4.4712,-0.5688,-4.6013,-0.4387,-4.3274,-0.7126,-4.4044,-0.6356,1,"1,2,3-tribromobenzene",BrC[2]=C(CH=CHCH=C@2Br)Br
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1701,1700,-5.54,5.07,253.429,-5.5664,0.0264,-5.3289,-0.2111,-4.7174,-0.8226,-4.6191,-0.9209,1,ethion,S(P(=S)(OCH2CH3)OCH2CH3)CH2SP(=S)(OCH2CH3)OCH2CH3
1704,1703,-4.1,2.84,205.857,-5.0148,0.9148,-4.757,0.657,-4.6183,0.5183,-4.2828,0.1828,1,prometryn,S(P(=S)(OCH3)OCH3)CH2N[17]C(C[19]=C(CH=CHCH=CH...
1705,1704,-3.37,2.93,207.793,-3.6807,0.3107,-3.618,0.248,-3.1528,-0.2172,-2.9705,-0.3995,1,malathion,S(P(=S)(OCH3)OCH3)CH(CH2C(=O)OCH2CH3)C(=O)OCH2CH3
1708,1707,-4.86,3.88,231.571,-3.8584,-1.0016,-3.8146,-1.0454,-4.2689,-0.5911,-4.0263,-0.8337,1,disulfiram,S(SC(=S)N(CH2CH3)CH2CH3)C(=S)N(CH2CH3)CH2CH3
1709,1708,-3.9,1.75,181.635,-2.5463,-1.3537,-2.5723,-1.3277,-3.0721,-0.8279,-2.9987,-0.9013,1,thiram,S(SC(=S)N(CH3)CH3)C(=S)N(CH3)CH3

In [92]:
# dfw1.to_csv("w1.csv", index = False)
# dfw2.to_csv("w2.csv", index = False)
# dfw3.to_csv("w3.csv", index = False)
# dfw4.to_csv("w4.csv", index = False)
# dfw5.to_csv("w5.csv", index = False)

In [56]:
## Drop datasource id column from dfw1
# dfw1.drop(columns = ['Data Source ID'], inplace = True)

In [91]:
for df in df_list:
    print (df.columns)

Index(['No', 'Expt.', 'ClogP', 'Polarizability', 'Predicted', 'Residual',
       'Predicted', 'Residual', 'Predicted', 'Residual', 'Predicted',
       'Residual', 'Data Source ID', 'Name', 'SLN'],
      dtype='object', name=1)
Index(['No', 'Expt.', 'ClogP', 'Tm', 'Polarizability', 'Predicted', 'Residual',
       'Predicted', 'Residual', 'Predicted', 'Residual', 'Predicted',
       'Residual', 'Name', 'SLN'],
      dtype='object', name=1)
Index(['No', 'Expt.', 'ClogP', 'Polarizability', 'Predicted', 'Residual',
       'Predicted', 'Residual', 'Predicted', 'Residual', 'Predicted',
       'Residual', 'Name', 'SLN'],
      dtype='object', name=1)
Index(['No', 'Entry', 'Expt.', 'ClogP', 'Polarizability', 'Predicted',
       'Residual', 'Predicted', 'Residual', 'Predicted', 'Residual',
       'Predicted', 'Residual', 'SLN'],
      dtype='object', name=1)
Index(['No', 'Expt.', 'ClogP', 'MP', 'Polarizability', 'Predicted', 'Residual',
       'Predicted', 'Residual', 'Predicted', 'Residual', 'Predicted',
       'Residual', 'Name', 'SLN'],
      dtype='object', name=1)

In [101]:
dfw1 = dfw1[['Expt.','SLN']]
dfw2 = dfw2[['Expt.', 'SLN']]
dfw3 = dfw3[['Expt.', 'SLN']]
dfw4 = dfw4[['Expt.', 'SLN']]
dfw5 = dfw5[['Expt.', 'SLN']]

In [111]:
df_list = [dfw1, dfw2, dfw3, dfw4, dfw5]

In [112]:
## Combine dataframes
dfw_combined = pd.concat(df_list)

In [114]:
dfw_combined = dfw_combined.reset_index(drop=True)

In [115]:
dfw_combined

1      Expt.                                                SLN
0      -4.35               BrC[2]C[3]=C(CH=CHCH=@2)CH=CHCH=CH@3
1      -3.33                    BrC[2]=C(C(=CHC(=CH@2)C#N)Br)OH
2      -6.09       BrC[2]=C(CH=C(C(=CH@2)Cl)OP(=S)(OCH3)OCH3)Cl
3       -4.5                        BrC[2]=C(CH=CHC(=CH@2)Br)Br
4      -5.04                          BrC[2]=C(CH=CHCH=C@2Br)Br
...      ...                                                ...
3346 -3.3319  C[1]H=C(CH=CHC(=CH@1)C(=O)C[13]=CHCH=C(S@13)S(...
3347 -2.1669  C[1]H=C(CH=CHC(=CH@1)C(=O)C[13]=CHCH=C(S@13)S(...
3348 -1.4812  C[1]H=C(CH=CHC(=CH@1)C(=O)C[13]=CHCH=C(S@13)S(...
3349 -1.8802  C[1]H=C(CH=CHC(=CH@1)C(=O)C[13]=CHCH=C(S@13)S(...
3350 -1.0324  C[1]H=C(C(=CHC(=CH@1)C(=O)C[12]=CHCH=C(S@12)S(...

[3351 rows x 2 columns]

In [116]:
dfw_combined.to_csv("data_wang.csv", index = False)